@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee @Model.Name</h1>
<br />
<br />

<form asp-action="Delete">
    <partial name="PartialViews/DeleteDetailsEmployeePartialView" />

    <div class="d-flex mt-4 gap-2">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>